<div class="d-flex justify-content-center w-100">
    <button mat-raised-button (click)="openDialog('0ms', '0ms')">Agregr Alumno</button>
</div>
<mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let persona"> {{persona.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="clase">
      <th mat-header-cell *matHeaderCellDef> clase </th>
      <td mat-cell *matCellDef="let persona"> {{persona.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let persona"> {{persona.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Elminar </th>
      <td mat-cell *matCellDef="let persona"> <mat-icon class="mat-18 color" (click)="borrar(persona.id)"> delete</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  